@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hot-deals-link {
  color: white;
  text-decoration: underline;
  font-style: italic;
  transition: text-decoration 0.3s ease;
}

.hot-deals-link:hover {
  text-decoration: none;
}

.new-deals-section {
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
